<h1 class="text-center">Overzicht Competities</h1>
<div class="divide-height-small"></div>
<app-sports-tab
  (sportNameEmitter)="changeSport($event)">
</app-sports-tab>
<div class="divide-height-small"></div>
<app-interactive-table
  (eventEmitter)="onRowClick($event)"
  [isRowClickable]="true"
  [columns]="comp_columns"
  [rows]="competitions">
</app-interactive-table>
<app-pop-up
  [modalTitle]="popupTitle"
  [modalMessage]="popupText"
  (onActionEvent)="handleAddition($event)"
  (onCancelEvent)="toggleRowClicked()"
  [selections]="teamSelection"
  [footerActionButtonLabel]="popupAbl"
  [footerCancelButtonLabel]="popupCbl"
  [showCancelButton]="true"
  [openModal]="isRowClicked">
</app-pop-up>
