<div class="content-area">
  <h1 class="text-center">Teams aanmaken</h1>
</div>

<div class="content-area">
  <form class="clr-form clr-form-vertical" [formGroup]="sportInputs" (ngSubmit)="submitTeams()">
    <div class="content-area">
      <div class="content-area">

        <clr-select-container>
          <label>Kies sport</label>
          <select #sports clrSelect name="options" (change)="changeSport(sports.value)">
            <option *ngFor="let item of dropdownChoices;">{{item}}</option>
          </select>
        </clr-select-container>

        <clr-input-container *ngFor="let key of formKeys">
          <input type="text" clrInput placeholder="Team naam" name="name" formControlName="{{key}}"/>
        </clr-input-container>
        <cds-icon-button aria-label="plus" type="button" *ngIf="formKeys.length < 8" style="margin-top: 10px" action="outline" (click)="addTeamInput()">
          <cds-icon shape="plus-circle" size="24"></cds-icon>
        </cds-icon-button>
        <cds-icon-button aria-label="minus" type="button" *ngIf="formKeys.length > 1" style="margin-top: 10px; margin-left: 10px" action="outline" (click)="removeTeamInput()">
          <cds-icon shape="minus-circle" size="24"></cds-icon>
        </cds-icon-button>
      </div>
      <div class="content-area">
        <button type="submit" class="btn btn-primary">Aanmaken</button>
      </div>
    </div>
  </form>
</div>
<app-pop-up
  modalTitle="Succes"
  [modalMessage]="teamsResponse.message + teamsResponse.numberOfTeams"
  [showCancelButton]="false"
  [openModal]="showPopup"
  (modalEvent)="closeModal()">
</app-pop-up>

