<div class="content-area">
  <h1 class="text-center">Teams aanmaken</h1>
</div>

<div class="content-area">
  <form class="clr-form clr-form-vertical" [formGroup]="creationForm" (ngSubmit)="submitTeams()">
    <div class="content-area">
      <div class="clr-form-control" formArrayName="teams">
        <div class="content-area">

          <clr-select-container>
            <label>Kies sport</label>
            <select clrSelect name="options">
              <option *ngFor="let item of dropdownChoices;">{{item}}</option>
            </select>
          </clr-select-container>

          <clr-input-container *ngFor="let teamGroup of teams?.controls; let i = index" [formGroupName]="i">
            <input type="text" clrInput placeholder="Team naam" name="name" formControlName="name"/>
          </clr-input-container>
          <cds-icon-button type="button" *ngIf="teamsSize < 8" style="margin-top: 10px" action="outline" (click)="addTeamInput()">
            <cds-icon shape="plus-circle" size="24"></cds-icon>
          </cds-icon-button>
          <cds-icon-button type="button" *ngIf="teamsSize > 1" style="margin-top: 10px; margin-left: 10px" action="outline" (click)="removeTeamInput()">
            <cds-icon shape="minus-circle" size="24"></cds-icon>
          </cds-icon-button>
        </div>
      </div>
      <div class="content-area">
        <button type="submit" class="btn btn-primary">Aanmaken</button>
      </div>
    </div>
  </form>
</div>

