<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">{{modalTitle}}</h3>
  <div class="modal-body">
    <p>{{modalMessage}}</p>
    <clr-select-container>
      <select #chosen clrSelect name="options" (change)="selectionChange(chosen.value)">
        <option *ngFor="let item of selections;">{{item}}</option>
      </select>
    </clr-select-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" *ngIf="showCancelButton" (click)="onCancelClick()">{{footerCancelButtonLabel}}</button>
    <button type="button" class="btn btn-primary" (click)="onActionClick()">{{footerActionButtonLabel}}</button>
  </div>

</clr-modal>
