<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">{{modalTitle}}</h3>
  <div class="modal-body">
    <p>{{modalMessage}}</p>
  </div>

<!--  TODO: dropdown voor competities en forecast die dan wordt meegestuurd ofzo-->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" *ngIf="showCancelButton" (click)="onModalClick()">{{footerCancelButtonLabel}}</button>
    <button type="button" class="btn btn-primary" (click)="onModalClick()">{{footerActionButtonLabel}}</button>
  </div>

</clr-modal>
